<mat-card>
    <mat-card-content>
        <h1>Your Profile details</h1>
    </mat-card-content>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://img.icons8.com/?size=100&id=tZuAOUGm9AuS&format=png&color=000000" alt="">
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                    </div>
                </div>
            </div>
        </div>        
    </mat-card-content>
</mat-card>