<mat-card>
    <mat-card-content>
        <h1>Your Profile details</h1>
    </mat-card-content>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../assets/profile-icon-image.jpg" alt=""
                    class="profile-image">
                    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Authority</td>
                                <td>{{user.roles}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.status}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>        
    </mat-card-content>
    <mat-card-actions class="text-center-button">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>